# .NET / MAUI
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# MAUI / Xamarin
**/Resources/**/Generated/

# Logs
*.log
logs/

# macOS
.DS_Store

# Node
**/node_modules/
**/dist/
**/dist-ssr/

# VS Code
.vscode/
!.vscode/extensions.json

# Rider / IntelliJ
.idea/

# Temp
*.tmp
.vs/
**/Raw/wwwroot/assets/
**/Raw/wwwroot/index.html
**/Raw/wwwroot/favicon.png
**/Raw/wwwroot/manifest.json
**/Raw/wwwroot/vite.svg
