
.historyEmptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    text-align: center;
}

.historyEmptyState IonIcon {
    font-size: 64px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.historyAvatar {
    width: 40px;
    height: 40px;
}

.historyTitle {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--ion-text-color);
    margin-bottom: 4px;
}

.historyMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.historyDate {
    display: flex;
    align-items: center;
    font-size: 11px;
}
