.notification-content {
    margin-top: 8px;
    font-size: 14px;
    color: var(--ion-text-color);
    background: var(--ion-color-light);
    padding: 8px;
    border-radius: 4px;
}

.notification-content img {
    max-width: 100%;
}
